@import 'colors';

/* Components */

.btn-primary {
    .gdlr-core-button {
        max-width: 260px;
        width: 100%;
        text-align: center;
    }
}

.dl-btn {
    img {
        max-width: 212px;
    }
}

.client-logo {
    img {
        max-width: 50px;
    }
}

.hero-section {
    
    .gdlr-core-pbf-wrapper-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .content-container {

        .gdlr-core-pbf-column-content {
            margin-left: 0;
        }

        .gdlr-core-pbf-element {
            &:nth-child(2) {
                clear: none;
                float: left;
                margin-left: 15px;
                margin-right: 7.5px;
            }
            &:nth-child(3) {
                clear: none;
                float: left;
                margin-left: 7.5px;
                margin-right: 15px;
            }
        }
    }
    .image-container {
        .desktop-img {
            img {
                max-width: 596px;
                margin-left: 0;
            }
        }
    }
}

.why-section {
    .ft-cards {
        img {
            max-width: 400px;
        }
    }
}

.how-section {
    .gdlr-core-pbf-wrapper-container-inner {
        .gdlr-core-page-builder-wrapper-container-bg-image {
            background-size: 1370px;
            background-position: 50% 22%;
            background-repeat: no-repeat;
        }
    }
    .image-container {
        .desktop-img {
            img {
                max-width: 380px;
            }
        }
        .tm-img {
            display: none;
        }
    }
}

.cta-section {
    .gdlr-core-pbf-wrapper-container-inner {
        overflow: hidden;
        display: flex;
        align-items: center;
    }
    .content-container {
        display: flex;
        align-items: center;
    }
}

.download-section {
    .gdlr-core-pbf-wrapper-container-inner {
        overflow: hidden;
    }

    .image-container {
        .desktop-img {
            img {
                max-width: 294px;
            }
        }
    }

    .content-container {
        .gdlr-core-pbf-element {
            &:nth-child(3) {
                clear: none;
                float: left;
                margin-left: 15px;
                margin-right: 7.5px;
            }
            &:nth-child(4) {
                clear: none;
                float: left;
                margin-left: 7.5px;
                margin-right: 15px;
            }
        }
    }
}

.subs-a-section {
    .form-container {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    form {
        input {
            margin: 0;
            min-height: 56px;
        }
    }
    .quform-input {
        margin: 0;
    }
    .quform-field-email {
        border: none !important;
        border-top-left-radius: 40px !important;
        border-bottom-left-radius: 40px !important;
        outline: none !important;
        padding-left: 30px !important;
    }
    .quform-submit {
        border-top-left-radius: 40px !important;
        border-bottom-left-radius: 40px !important;
        border: none !important;
        min-height: 56px;
    }
    .quform-child-elements {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF;
        border-radius: 40px;
        overflow: hidden;
    }
    .quform-spacer {
        margin: 0 !important;
    }
    .quform-element-email {
        max-width: 360px;
        width: 100%;
    }
    .quform-element-submit {
        max-width: 240px;
        width: 100%;
        margin-top: 0 !important;
    }
}

.subs-section {

    .gdlr-core-pbf-element {
        width: 100%;
        &:nth-child(2) {
            max-width: 480px;
        }
    }

    .gdlr-core-pbf-column-content {
        background-color: $pc-1;
        border-radius: 60px;
        min-height: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    form {

        .quform-input {
            margin-bottom: 0;
            ::placeholder {
                color: $sc-2 !important;
            }
        }
        .quform-spacer {
            padding: 0;
            margin-bottom: 15px;
        }
        .quform-field {
            border-radius: 8px;
            border: none;
            padding: 15px 23px;
        }
        .quform-submit {
            border-radius: 100px;
            margin-left: auto;
            margin-right: auto;
            font-weight: 600;
        }
        .quform-element-submit {
            margin-top: 5px;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {

    .gdlr-core-sync-height-pre-spaces {
        display: none;
    }

    .dl-btn {
        img {
            max-width: 160px;
        }
    }

    .client-logo {
        text-align: center;
    }

    .btn-primary {
        text-align: center;
    }

    .hero-section {
        padding-top: 90px !important;
        padding-bottom: 60px !important;
        margin-bottom: 0 !important;
        .gdlr-core-pbf-wrapper-container {
            flex-direction: column;
        }
        .gdlr-core-pbf-column {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .content-container {
            .gdlr-core-pbf-column-content {
                margin-left: auto;
            }
            margin-bottom: 60px !important;
            .gdlr-core-pbf-element {
                &:nth-child(2) {
                    width: 50%;
                    margin: 0 !important;
                    .dl-btn {
                        text-align: right;
                        img {
                            padding-right: 5px !important;
                        }
                    }
                }
                &:nth-child(3) {
                    width: 50%;
                    margin: 0 !important;
                    .dl-btn {
                        text-align: left;
                        img {
                            padding-left: 5px !important;
                        }
                    }
                }
            }
            .title-1 {
                max-width: 580px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .image-container {
            .desktop-img {
                img {
                    max-width: 340px;
                    margin-left: -100%;
                    margin-right: -100%;
                    margin-bottom: 0;
                }
            }
        }
    }

    .why-section {
        padding-top: 70px !important;
        padding-bottom: 60px !important;
        .gdlr-core-pbf-wrapper-container {
            display: flex;
            flex-direction: column;
        }
        .gdlr-core-pbf-column {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .ft-cards {
                margin-top: 0 !important;
                margin-bottom: 70px !important;

                .gdlr-core-pbf-column-content {
                    max-width: 338px !important;
                }
                img {
                    max-width: 100%;
                }

            }
            &:nth-child(4) {
                .ft-cards {
                    margin-bottom: 0 !important;
                }
            }
        }

    }

    .how-section {

        margin-bottom: 0 !important;
        padding-top: 40px !important;
        padding-bottom: 180px !important;
        background-color: #F5F5F5;

        .title-container {
            margin-bottom: 60px !important;
        }
        .image-container {
            height: auto !important;
            margin-bottom: 50px !important;
            .desktop-img {
                display: none;
            }
            .tm-img {
                display: block !important;
                img {
                    max-width: 496px;
                }
            }
        }
        .content-container {
            margin-bottom: 100px !important;
            height: auto !important;
            .gdlr-core-pbf-column-content {
                max-width: 526px !important;
            }
        }

        .gdlr-core-pbf-wrapper-container-inner {
            padding: 0 !important;
        }

        .gdlr-core-page-builder-wrapper-container-content {
            display: flex;
            flex-direction: column;
        }
        .gdlr-core-pbf-column {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 2;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 7;
                .content-container {
                    margin-bottom: 0 !important;
                }
            }
            &:nth-child(7) {
                order: 6;
            }
        }
    }

    .cta-section {
        .gdlr-core-pbf-wrapper-container-inner {
            flex-direction: column;
        }
        .gdlr-core-pbf-column {
            width: 100%;
            &:first-child {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
        .gdlr-core-pbf-wrapper-container {
            max-width: 500px !important;
        }
        .content-container {
            padding: 30px !important;
        }
    }

    .download-section {
        background-color: $pc-1;
        padding-top: 100px !important;
        padding-bottom: 100px !important;

        .client-logo {
            text-align: left;
            padding-bottom: 25px !important;
        }

        .title-2 {
            text-align: left !important;
        }

        .gdlr-core-pbf-wrapper-container-inner {
            display: flex;
            flex-direction: column;
            padding: 0 !important;
            border-radius: 0 !important;
            overflow: visible;
        }
        .gdlr-core-pbf-column {
            width: 100%;
        }
        .gdlr-core-pbf-wrapper-container {
            max-width: 560px !important;
        }

        .image-container {
            display: none;
        }

        .content-container {
            height: auto !important;
            padding: 0 !important;
            // .gdlr-core-pbf-element {
            //     width: 100%;
            //     &:nth-child(3) {
            //         margin: 0 0 20px 0 !important;
            //         padding: 0 !important;
            //     }
            //     &:nth-child(4) {
            //         margin: 0 !important;
            //         padding: 0 !important;
            //     }
            // }
        }
    }

}

@media only screen and (max-width: 999px) {
//
}

@media only screen and (max-width: 767px) {
    .gdlr-core-sync-height-pre-spaces {
        display: none;
    }

    .client-logo {
        text-align: center;
    }

    .btn-primary {
        text-align: center;
    }
    .dl-btn {
        img {
            max-width: 160px !important;
        }
    }

    .hero-section {
        padding-top: 150px !important;
        padding-bottom: 45px !important;
        .gdlr-core-pbf-wrapper-container {
            flex-direction: column;
        }
        .gdlr-core-pbf-column {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .content-container {
            margin-bottom: 70px !important;
            .gdlr-core-pbf-column-content {
                margin-left: auto;
            }
            .gdlr-core-pbf-element {
                &:nth-child(2) {
                    width: 100% !important;
                    margin: 0 0 20px 0 !important;
                }
                &:nth-child(3) {
                    width: 100% !important;
                    margin: 0 !important;
                }
            }
            .title-1 {
                max-width: 484px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .image-container {
            .desktop-img {
                img {
                    max-width: 354px;
                    margin-left: -100%;
                    margin-right: -100%;
                }
            }
        }
    }

    .why-section {
        padding-top: 40px !important;
        padding-bottom: 50px !important;
        .title-container {
            margin-bottom: 60px !important;
        }

        .gdlr-core-pbf-column {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            .ft-cards {
                margin-top: 0 !important;
                margin-bottom: 70px !important;

                .gdlr-core-pbf-column-content {
                    max-width: 338px !important;
                }
                img {
                    max-width: 100%;
                }

            }
            &:nth-child(4) {
                .ft-cards {
                    margin-bottom: 0 !important;
                }
            }
        }

    }

    .how-section {

        margin-bottom: 0 !important;
        padding-top: 40px !important;
        padding-bottom: 90px !important;
        background-color: #F5F5F5;

        .title-container {
            margin-bottom: 46px !important;
        }
        .image-container {
            height: auto !important;
            margin-bottom: 50px !important;
            .desktop-img {
                display: none;
            }
            .tm-img {
                display: block !important;
                img {
                    max-width: 496px;
                    margin-left: -100%;
                    margin-right: -100%;
                }
            }
        }
        .content-container {
            margin-bottom: 60px !important;
            height: auto !important;
            .gdlr-core-pbf-column-content { 
                max-width: 360px !important;
            }
        }

        .gdlr-core-pbf-wrapper-container-inner {
            padding: 0 !important;
        }

        .gdlr-core-page-builder-wrapper-container-content {
            display: flex;
            flex-direction: column;
        }

        .gdlr-core-pbf-column {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &:nth-child(2) {
                order: 3;
            }
            &:nth-child(3) {
                order: 2;
            }
            &:nth-child(4) {
                order: 4;
            }
            &:nth-child(5) {
                order: 5;
            }
            &:nth-child(6) {
                order: 7;
                .content-container {
                    margin-bottom: 0 !important;
                }
            }
            &:nth-child(7) {
                order: 6;
            }
        }
    }

    .cta-section {
        .gdlr-core-pbf-wrapper-container-inner {
            flex-direction: column;
        }
        .gdlr-core-pbf-column {
            width: 100%;
            &:first-child {
                order: 2;
            }
            &:nth-child(2) {
                order: 1;
            }
        }
        .gdlr-core-pbf-wrapper-container {
            max-width: 100% !important;
        }
        .content-container {
            min-height: auto !important;
            padding: 40px 30px !important;
        }
        .image-container {
            height: 400px !important;
        }
    }

    .download-section {
        background-color: $pc-1;
        padding-top: 100px !important;
        padding-bottom: 100px !important;

        .client-logo {
            text-align: center;
            padding-bottom: 25px !important;
        }

        .title-2 {
            text-align: center !important;
        }

        .gdlr-core-pbf-wrapper-container-inner {
            display: flex;
            flex-direction: column;
            padding: 0 !important;
            border-radius: 0 !important;
            overflow: visible;
        }
        .gdlr-core-pbf-column {
            width: 100%;
        }
        .gdlr-core-pbf-wrapper-container {
            max-width: 560px !important;
        }

        .image-container {
            display: none;
        }

        .content-container {
            height: auto !important;
            padding: 0 !important;
            .gdlr-core-pbf-element {
                &:nth-child(3) {
                    width: 100% !important;
                    margin: 0 0 20px 0 !important;
                }
                &:nth-child(4) {
                    width: 100% !important;
                    margin: 0 !important;
                }
            }
        }
    }

    .subs-a-section {

        .gdlr-core-pbf-wrapper-container {
            width: 100%;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .gdlr-core-pbf-background-wrap {
            border-radius: 0 !important;
        }

        .content-container {
            border-radius: 0 !important;
        }

        .quform-child-elements {
            flex-direction: column;
            justify-content: center;
            background-color: transparent;
            border-radius: 0;
            overflow: hidden;
        }

        .quform-field-email {
            border: none !important;
            border-radius: 40px !important;
            background-color: $sc-1 !important;
            margin-bottom: 10px !important;
        }

        .quform-submit {
            border-radius: 40px !important;
        }

        .quform-element-submit {
            max-width: 100% !important;
        }
    }

    .subs-section {
        .gdlr-core-pbf-column-content {
            border-radius: 0 !important;
        }
        .gdlr-core-pbf-wrapper-container {
            width: 100%;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .form-container {
            .title-3 {
                .gdlr-core-title-item-caption {
                    margin-top: 10px !important;
                }
            }
        }
    }

}