/* For Desktop Fonts use Builder */

.title-1 {
    .gdlr-core-title-item-caption {
        line-height: 32px;
    }
}

.card-title {
    .gdlr-core-title-item-caption {
        line-height: 32px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
    /* Fonts Tab/Ipad*/

    .title-1 {
        br {
            display: none;
        }
        text-align: center;
        .gdlr-core-title-item-title {
            font-size: 40px !important;
            line-height: 46px !important;
        }
        .gdlr-core-title-item-caption {
            font-size: 16px !important;
            line-height: 30px !important;
        }
    }

    .title-2 {
        text-align: center;
        .gdlr-core-title-item-title {
            font-size: 28px !important;
            line-height: 32px !important;
        }
        .gdlr-core-title-item-caption {
            font-size: 18px !important;
            line-height: 21px !important;
        }
    }

    .title-3 {
        text-align: center;
        .gdlr-core-title-item-title {
            font-size: 20px !important;
            line-height: 24px !important;
        }
    }

    .card-title {
        text-align: center;

        .gdlr-core-title-item-title {
            font-size: 18px !important;
            line-height: 21px !important;
        }

        .gdlr-core-title-item-caption {
            font-size: 16px !important;
            line-height: 32px !important;
        }
    }

    .dl-title {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    /* Fonts Mobile */

    .title-1 {
        br {
            display: none;
        }
        text-align: center;
        .gdlr-core-title-item-title {
            font-size: 40px !important;
            line-height: 46px !important;
        }
        .gdlr-core-title-item-caption {
            font-size: 16px !important;
            line-height: 30px !important;
        }
    }
    
    .title-2 {
        text-align: center;
        .gdlr-core-title-item-title {
            font-size: 28px !important;
            line-height: 32px !important;
        }
        .gdlr-core-title-item-caption {
            font-size: 18px !important;
            line-height: 21px !important;
        }
    }

    .title-3 {
        text-align: center;
        .gdlr-core-title-item-title {
            font-size: 20px !important;
            line-height: 24px !important;
        }
    }

    .card-title {
        text-align: center;

        .gdlr-core-title-item-title {
            font-size: 18px !important;
            line-height: 21px !important;
        }

        .gdlr-core-title-item-caption {
            font-size: 16px !important;
            line-height: 32px !important;
        }
    }
}