@import 'colors';

/* Footer */

footer {

    .infinite-footer-wrapper {
        background-color: $pc-1;
    }
    .infinite-copyright-wrapper {
        background-color: $pc-1;
        .infinite-copyright-text {
			color: $pc-2;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            font-feature-settings: 'clig' off, 'liga' off;
        }
    }
    .infinite-footer-container {
        display: flex;
        align-items: flex-start;
    }

    .infinite-footer-column:nth-child(2), .infinite-footer-column:nth-child(3) {
        padding-left: 5rem;
    }

    .infinite-footer-column {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        &:first-child {
            width: 50%;
            align-items: flex-start;
            #media_image-5 {
                margin-bottom: 45px;
                img {
                    max-width: 210px !important;
                }
            }
            #text-2 {
                p {
                    font-size: 14px;
                    line-height: 32px;
                    letter-spacing: 2%;
                }
            }
        }
        &:nth-child(2) {
            padding-left: 15px;
            justify-content: flex-end;

            h3 {
                font-size: 15px;
                font-weight: 500;
                color: $pc-2;
                text-transform: none;
                margin-bottom: 30px;
            }

            ul {
                margin-bottom: 0;
                li {
					color: $pc-2 !important;
                    margin-bottom: 30px;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
					a {
						color: $pc-2 !important;
					}
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &:nth-child(3) {
            display: flex;
			flex-direction: column;
			justify-content: center;
            align-items: flex-start;

			#text-3 {
				margin-bottom: 20px;
				h3 {
					font-size: 15px;
					font-weight: 500;
					color: $pc-2;
					text-transform: none;
					margin-bottom: 0;
				}
			}
			#media_image-6 {
				margin-bottom: 10px;
				img {
					max-width: 114px !important;
				}
			}
			#media_image-7 {
				img {
					max-width: 114px !important;
				}
			}

            /*

            ul {
                margin-bottom: 0;
                li {
					color: $pc-2 !important;
                    margin-bottom: 30px;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
					a {
						color: $pc-2 !important;
					}
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            */




        }

    }
}

@media only screen and (max-width: 999px) {

    /* Footer Tab/Ipad */

    footer {
        .infinite-footer-wrapper {
            padding: 80px 0;
        }
        .infinite-footer-container {
            display: flex;
            flex-direction: column;
        }
        .infinite-footer-column {
            width: 100% !important;
            display: flex;
            justify-content: flex-start !important;
            align-items: center !important;
            padding: 0 15px !important;
            margin-bottom: 40px;

            &:first-child {
                #media_image-5 {
                    display: block;
                    margin-bottom: 0 !important;
                }
                #media_image-6 {
                    display: block;
                    img {
                        max-width: 178px !important;
                    }
                }
            }

            &:nth-child(2) {
                h3 {
                    text-align: center;
                }
                ul {
                    li {
                        text-align: center;
                    }
                }
            }
            &:nth-child(3) {
                margin-bottom: 0;
                ul {
                    li {
                        text-align: center;
                    }
                }
            }
            &:nth-child(4) {
                    display: none;
            }

        }
    }

}