@import 'colors';

/* Header */

.infinite-header-container-inner {
	display: flex;
	align-items: center;
}

.infinite-fixed-navigation {
	.infinite-header-background {
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	}
}

.infinite-navigation {

	margin-left: auto;
	padding-top: 0 !important;
	padding-bottom: 0 !important;

	.sf-menu {

		display: flex !important;
		align-items: center;

		li {

			a {
                padding-top: 5px !important;
				padding-bottom: 5px !important;
				color: $sc-1;
                line-height: 24px;
				&::before {
					transition: 300ms;
					height: 2.5px;
					content: "";
					position: absolute;
					background-color: $pc-1;
					width: 0%;
					bottom: 10%;
				}
				&:hover {
					&::before {
						width: 100%;
					}
				}
			}

			&:last-child {
				a {
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    height: 40px;
                    color: $pc-2;
					background: $pc-1;
					border: 1px solid $pc-1;
					border-radius: 5px;
					padding: 10px 20px !important;
					transition: 600ms ease-in-out;

					&:hover {
                        color: $pc-2;
						background-color: $sc-1;
					}

					&::before {
						position: relative;
                        content: inherit;
					}

				}
			}

		}
	}
}

@media only screen and (max-width: 999px) {

    /* Header Tab/Ipad*/

    .infinite-mobile-header.infinite-fixed-navigation {
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }

    .infinite-mobile-button-hamburger {
		span {
			background: $pc-1;
		}
		&::before {
			background: $pc-1;
		}
		&::after {
			background: $pc-1;
		}
	}
	.infinite-overlay-menu-row {
		ul {
			li {
				text-transform: none !important;
				border-bottom: none !important;
			}
		}
	}
	.infinite-overlay-menu-close {
		&::after {
			color: $pc-1;
		}
	}
    
}